body {
  font-family: 'Poppins' sans-serif;
  background-color: #fff;
  color: #22343d;
}

/* reset */

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  width: 100%;
  max-width: 1150px;
  padding: 20px;
  margin: 0 auto;
}

/* header section */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 0;
  padding-right: 237px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 73px;
}

.header-nav-list:not(:last-child) {
  display: flex;
  gap: 30px;
}

.header-nav-item {
  cursor: pointer;
}

.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;

  transition: font-weight 100ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-nav-link:hover,
.header-nav-link:focus {
  font-weight: 600;
}

.current {
  font-weight: 600;
}

.header-btn-set {
  display: flex;
  gap: 21px;
}

.header-btn {
  text-align: center;

  min-width: 113px;
  height: 42px;

  font-weight: 600;

  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-btn:hover,
.header-bnt:focus {
  border: none;
  background-color: #02897a;
  color: #fff;
}

/* hero section */

.hero {
  margin-top: 25px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
}

.hero-text {
  padding-bottom: 45px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #22343d;
}

.hero-btn-set {
  display: flex;
  gap: 30px;
}

.hero-btn {
  padding: 15px 42px;
  max-width: 178px;
  height: 53px;

  border-radius: 4px;
  border: 1px solid #bcd0e5;

  font-weight: 700;
  font-size: 16px;
  color: #173a56;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  border: none;
  background: #02897a;
  color: #fff;
}

.hero-btn-video {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 53px;

  border: none;
  background: transparent;

  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  color: #173a56;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn-video-icon {
  flex-shrink: 0;
  fill: currentColor;
}

.hero-btn-video:hover,
.hero-btn-video:focus,
.hero-btn-video-icon:hover,
.hero-btn-video-icon:focus {
  border: none;
  color: #02897a;
  fill: #02897a;
}

/* product section */

.product {
  margin-top: 100px;
}

.product-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.product-title {
  align-self: center;
  white-space: wrap;
  max-width: 539px;

  padding-bottom: 50px;

  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}

.product-list {
  display: flex;
  gap: 30px;
  padding-bottom: 50px;
}

.product-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 19px;
  width: 54px;
  height: 54px;
  background-color: #02897a;
}

.product-icon-container.color-blue {
  background-color: #4d8dff;
}

.product-icon-container.color-purple {
  background-color: #740a76;
}

.product-icon-container.color-orange {
  background-color: #f03e3d;
}

.product-icon {
  fill: #fff;
}

.product-list-item-title {
  padding-top: 18px;
  padding-bottom: 13px;

  font-weight: 600;
  font-size: 22px;
  color: #22343d;
}

.product-list-item-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.product-btn {
  align-self: center;

  width: 175px;
  height: 53px;

  border-radius: 4px;
  border: 1px solid #bcd0e5;

  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  color: #173a56;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.product-btn:hover,
.product-btn:focus {
  border: none;
  background: #02897a;
  color: #fff;
}

/* information section */

.info {
  margin-top: 50px;
}

.info-wrapper {
  display: flex;
  flex-direction: column;
}

.info-content-wrapper {
  display: flex;
  gap: 84px;
}

.info-content {
  padding: 41px 0;
}

.info-title {
  max-width: 300px;
  padding-bottom: 24px;

  font-weight: 700;
  font-size: 32px;
  color: #22343d;
}

.info-subtitle {
  font-weight: 600;
  font-size: 16px;
  color: #22343d;
}

.info-text {
  padding-bottom: 30px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.info-list-item {
  padding-bottom: 24px;
}

.info-list-title {
  padding-bottom: 12px;

  font-weight: 600;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.info-list-text {
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.info-list-text.info-icon::before {
  content: '';
  display: block;
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.info-list-item:nth-child(1) .info-list-text.info-icon::before {
  background-color: #f90;
  background-image: url(../images/tick.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.info-list-item:nth-child(2) .info-list-text.info-icon::before {
  background-color: #f03e3d;
  background-image: url(../images/tick.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.info-list-item:nth-child(3) .info-list-text.info-icon::before {
  background-color: #4d8dff;
  background-image: url(../images/tick.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.info-list-text.info-icon {
  display: flex;
  align-items: center;
  gap: 8px;
}

/* experts section */

.experts {
  margin-top: 150px;
}

.experts-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  max-width: 916px;
}

.experts-title {
  padding-bottom: 24px;

  font-weight: 700;
  font-size: 32px;
  text-align: center;
  color: #22343d;
}

.experts-text {
  padding-bottom: 40px;
  max-width: 542px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  color: #22343d;
}

.experts-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 24px;
  column-gap: 91px;

  padding-bottom: 50px;
}

.experts-list-item {
  display: flex;
  align-items: center;
  gap: 24px;
}

.circle-icon-1::before {
  content: '';
  display: block;
  border: 2px solid #ff0909;
  border-radius: 50%;
  width: 98px;
  height: 98px;

  background-image: url(../images/avatar-1.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-icon-2::after {
  content: '';
  display: block;
  border: 2px solid #740a76;
  border-radius: 50%;
  width: 98px;
  height: 98px;

  background-image: url(../images/avatar-2.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-icon-3::before {
  content: '';
  display: block;
  border: 2px solid #02897a;
  border-radius: 50%;
  width: 98px;
  height: 98px;

  background-image: url(../images/avatar-3.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.circle-icon-4::after {
  content: '';
  display: block;
  border: 2px solid #035b81;
  border-radius: 50%;
  width: 98px;
  height: 98px;

  background-image: url(../images/avatar-4.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.experts-list-text {
  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 24px;
  box-shadow: 2px 2px 10px 0 rgba(23, 58, 86, 0.15);

  width: 281px;
  height: 50px;

  font-weight: 500;
  font-size: 16px;
  text-align: center;
  color: #2f281e;
}

.experts-btn {
  padding: 15px 32px;

  max-width: 216px;
  height: 53px;

  border-radius: 4px;
  border: 1px solid #bcd0e5;

  font-weight: 700;
  font-size: 16px;
  color: #173a56;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.experts-btn:hover,
.experts-btn:focus {
  background-color: #02897a;
  border: none;
  color: #fff;
}

/* blog section */

.blog {
  margin-top: 100px;
}

.blog-title {
  padding-bottom: 10px;

  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}

.blog-text {
  padding-bottom: 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  color: #22343d;
}

.blog-list {
  display: flex;
  align-items: center;
  gap: 30px;
}

.blog-list-item {
  border: 1px solid #dedede;
  border-radius: 8px;
  width: 350px;
  height: 359px;
}

.blog-info-content {
  display: flex;
  flex-direction: column;
  gap: 12px;

  padding: 24px 27px 0;
}

.blog-author {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.blog-author-accent {
  font-weight: 700;
}

.blog-author-accent::after {
  content: '|';
  margin: 0 8px;
  font-weight: 400;
  color: #22343d;
}

.blog-info {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.66667;
  color: #22343d;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.blog-info:hover,
.blog-info:focus {
  cursor: pointer;
  color: #02897a;
}

/* price section */

.price {
  margin-top: 171px;
}

.price-title {
  padding: 10px 0;
  margin-bottom: 10px;
  text-align: center;

  font-weight: 700;
  font-size: 34px;
  color: #22343d;
}

.price-text {
  margin-bottom: 40px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  color: #22343d;
}

.price-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 72px;
}

.price-list-item {
  padding: 32px 0;
  text-align: center;

  border-radius: 8px;
  width: 322px;
  height: 456px;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
  background: #fff;

  transition: background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-list-item-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.67;
  color: #22343d;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-list-item-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2.5;
  color: #22343d;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-list-indicator {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;

  margin-bottom: 16px;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-indicator-number {
  font-weight: 700;
  font-size: 76px;
  line-height: 1.32;
  letter-spacing: 0em;
  text-align: center;
  color: #02897a;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-indicator-data {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-indicator-sign {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.25;
  letter-spacing: 0em;
  color: #02897a;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-indicator-period {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.01em;
  color: #afafaf;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-indicator-list {
  margin-bottom: 30px;
}

.price-indicator-list-item {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.38;
  letter-spacing: 0.01em;
  color: #22343d;
  transition: color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-indicator-list-item:not(:last-child) {
  margin-bottom: 16px;
}

.price-btn {
  border-radius: 8px;
  border: none;
  min-width: 139px;
  height: 44px;
  color: #fff;
  background-color: #02897a;
  transition: transform 0.3s ease, color 500ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 500ms cubic-bezier(0.4, 0, 0.2, 1);
}

.price-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.price-list-item:hover,
.price-list-item:focus {
  background: #02897a;
  color: #fff;
}

.price-list-item:hover .price-list-item-title,
.price-list-item:focus .price-list-item-title {
  color: #fff;
}

.price-list-item:hover .price-list-item-text,
.price-list-item:focus .price-list-item-text {
  color: #fff;
}

.price-list-item:hover .price-indicator-number,
.price-list-item:focus .price-indicator-number {
  color: #fff;
}

.price-list-item:hover .price-indicator-sign,
.price-list-item:focus .price-indicator-sign {
  color: #fff;
}

.price-list-item:hover .price-indicator-period,
.price-list-item:focus .price-indicator-period {
  color: #fff;
}

.price-list-item:hover .price-indicator-list-item,
.price-list-item:focus .price-indicator-list-item {
  color: #fff;
}

.price-list-item:hover .price-btn {
  background-color: #fff;
  color: #02897a;
}

/* feedback section */

.feedback {
  margin-top: 100px;
}

.feedback-title {
  text-align: center;
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 32px;
  line-height: 1.78;
  letter-spacing: 0.01em;
  color: #22343d;
}

.feedback-text {
  max-width: 537px;
  margin: 0 auto 40px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  text-align: center;
  color: #22343d;
}

.feedback-list {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 64px;
}

.feedback-list-item {
  border: 1px solid #dedede;
  border-radius: 5px;
  padding: 30px 35px;
  width: 327px;
  height: 240px;
  background-color: #fff;
  transition: transform 0.3s ease;
}

.feedback-list-item:hover {
  transform: scale(1.1);
}

.feedback-list-text {
  margin-bottom: 16px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  letter-spacing: 0.01em;
  color: #737373;
}

.feedback-score-icon {
  margin-bottom: 16px;
}

.feedback-person-wrapper {
  display: flex;
  align-items: center;
  gap: 14px;
}

.feedback-avatar::before {
  content: '';
  display: block;

  border-radius: 100%;
  width: 50px;
  height: 50px;

  stroke-width: 1px;
  stroke: #bdbdbd;

  background-position: center;
  background-repeat: no-repeat;
}

.feedback-icon-1::before {
  background-image: url(../images/feedback-avatar-1.svg);
}

.feedback-icon-2::before {
  background-image: url(../images/feedback-avatar-2.svg);
}

.feedback-icon-3::before {
  background-image: url(../images/feedback-avatar-3.svg);
}

.feedback-person-data {
  display: flex;
  flex-direction: column;
}

.feedback-author {
  font-weight: 600;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.01em;
  color: #02897a;
}

.feedback-author-position {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.01em;
  color: #252b42;
}

/* subscribe section */

.subscribe {
  margin-top: 100px;
}

.subscribe-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  border-radius: 32px;
  width: 968px;
  height: 345px;
  background-color: #02897a;
}

.subscribe-content {
  display: flex;
  flex-direction: column;
  margin-left: 51px;
}

.subscribe-text {
  margin-bottom: 46px;
  max-width: 510px;

  font-weight: 600;
  font-size: 32px;
  line-height: 1.51;
  color: #fff;
}

.subscribe-btn {
  border-radius: 8px;
  border: none;
  background-color: #fff;

  width: 150px;
  height: 50px;

  font-weight: 600;
  font-size: 20px;
  color: #02897a;
  transition: transform 0.3s ease;
}

.subscribe-btn:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.25);
}

.subscribe-img {
  margin-right: 46px;
}

/* footer section */

.footer {
  margin-top: 100px;
}

.footer-wrapper {
  display: flex;
  margin-bottom: 10px;
}

.footer-logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 0;
  padding-right: 146px;
  padding-bottom: 18px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.footer-social-list {
  display: flex;
  flex-direction: row;
  gap: 16px;

  max-width: 152px;
}

.footer-social-list-item {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 40px;
  height: 40px;

  border-radius: 100%;
  background-color: #edfffc;
}

.footer-social-list-icon {
  stroke: #02897a;
  fill: #edfffc;

  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-list-icon:hover,
.footer-social-list-icon:focus {
  stroke: #173a56;
}

.footer-info-list-wrapper {
  margin-right: 129px;
}

.footer-legal-list-wrapper {
  margin-right: 83px;
}

.footer-list-title {
  margin-bottom: 8px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}

.footer-list-link {
  display: block;
  min-width: 150px;

  font-weight: 400;
  font-size: 16px;
  line-height: 2.19;
  color: #22343d;

  white-space: nowrap;
  transition: font-weight 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-list-link:hover,
.footer-list-link:focus {
  font-weight: bold;
  cursor: pointer;
}

.footer-form {
  display: flex;
  flex-direction: column;
}

.footer-form-title {
  margin-bottom: 30px;

  font-weight: 500;
  font-size: 20px;
  line-height: 1.5;
  color: #22343d;
}

.footer-form-input-wrapper {
  max-width: 325px;

  position: relative;
}

.footer-form-input-wrapper .footer-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  pointer-events: none;
}

.footer-form-input {
  padding-left: 40px;

  width: 100%;
  height: 48px;

  border: 1px solid #bcd0e5;
  border-radius: 4px;
  background-color: #fff;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-input::placeholder {
  color: #afafaf;
}

.footer-form-icon {
  fill: #afafaf;
}

.footer-form-input:focus,
.footer-form-input:focus::placeholder {
  border-color: #02897a;
  color: #02897a;
  outline: none;
}

.footer-form-input:focus + .footer-form-icon {
  fill: #02897a;
}

.footer-form-btn {
  margin-top: 24px;

  border: 1px solid #bcd0e5;
  border-radius: 4px;

  max-width: 131px;
  height: 39px;

  font-weight: 700;
  font-size: 16px;
  text-align: center;
  color: #173a56;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-form-btn:hover,
.footer-form-btn:focus {
  border: none;
  background-color: #02897a;
  color: #fff;
}

.copyright-notice {
  text-align: center;
  margin-bottom: 40px;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  color: #22343d;
}
