body {
  font-family: 'Poppins' sans-serif;
  background-color: #fff;
  color: #22343d;
}

/* reset */

a {
  text-decoration: none;
  color: currentColor;
}

p {
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
  padding: 0;
}

address {
  font-style: normal;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* common */

.container {
  width: 100%;
  max-width: 1150px;
  padding: 20px;
  margin: 0 auto;
}

/* header section */

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-right: 0;
  padding-right: 237px;

  font-weight: 700;
  font-size: 30px;
  line-height: 0.93333;
  color: #173a56;
}

.header-nav-list {
  display: flex;
  align-items: center;
  gap: 30px;
  padding-right: 73px;
}

.header-nav-list:not(:last-child) {
  display: flex;
  gap: 30px;
}

.header-nav-item {
  cursor: pointer;
}

.header-nav-link {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.75;
  color: #22343d;
}

.current {
  font-weight: 600;
}

.header-btn-set {
  display: flex;
  gap: 21px;
}

.header-btn {
  text-align: center;

  min-width: 113px;
  height: 42px;

  font-weight: 600;

  border: 1px solid #bcd0e5;
  border-radius: 4px;
  color: #173a56;
}

.header-btn:hover {
  border: none;
  background: #02897a;
  color: #fff;
}

.header-bnt:focus {
  color: #fff background-color;
  border: none;
}

/* hero section */

.hero {
  padding-top: 25px 0 100px;
}

.hero-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-title {
  padding-bottom: 16px;

  font-weight: 700;
  font-size: 40px;
  line-height: 1.5;
  color: #22343d;
}

.hero-text {
  padding-bottom: 45px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.5;
  color: #22343d;
}

.hero-btn-set {
  display: flex;
  gap: 30px;
}

.hero-btn {
  padding: 15px 42px;
  max-width: 178px;
  height: 53px;

  border-radius: 4px;
  border: 1px solid #bcd0e5;

  font-weight: 700;
  font-size: 16px;
  color: #173a56;
}

.hero-btn:hover,
.hero-btn:focus {
  border: none;
  background: #02897a;
  color: #fff;
}

.hero-btn-video {
  display: flex;
  align-items: center;
  gap: 8px;

  height: 53px;

  border: none;
  background: transparent;

  white-space: nowrap;
  font-weight: 700;
  font-size: 16px;
  color: #173a56;
}

.hero-btn-video-icon {
  flex-shrink: 0;
  fill: currentColor;
}

.hero-btn-video:hover,
.hero-btn-video:focus,
.hero-btn-video-icon:hover,
.hero-btn-video-icon:focus {
  border: none;
  color: #02897a;
  fill: #02897a;
}

/* icon section */

.inf-list-item-text::before {
  content: '';
  display: block;
  border: 2.92px solid #fff;
  border-radius: 14px;
  width: 35px;
  height: 35px;
  flex-shrink: 0;
}

.inf-list-item:nth-child(1) .inf-list-item-text::before {
  background-color: #f90;
  background-image: url(../images/tick.svg);
}

.inf-list-item:nth-child(1) .inf-list-item-text::before {
  background-color: #f03e3d;
  background-image: url(../images/tick.svg);
}

.inf-list-item:nth-child(1) .inf-list-item-text::before {
  background-color: #4d8dff;
  background-image: url(../images/tick.svg);
}

.page-footer {
  display: flex;
}

.page-footer-form {
  display: flex;
  flex-direction: column;
}
